
// NOTE: for the design and layout ATM, if the screen is
//	narrower than 800px, then the navigation bar would have
//	to fold to two lines in the index page.
//
//	so we set 800px as a border of DESKTOP and MOBILE :)
//
@mobile-big: ~"only screen and (max-width: 799px)";
@desktop-small: ~"only screen and (min-width: 800px)";

@mobile-medium: ~"only screen and (max-width: 539px)";

@lint-50: rgba(255, 255, 255, 0.5);
@lint-20: rgba(255, 255, 255, 0.2);
@lint-30: rgba(255, 255, 255, 0.3);
@lint-15: rgba(255, 255, 255, 0.15);
@darken-50: rgba(0, 0, 0, 0.5);
@darken-30: rgba(0, 0, 0, 0.3);
@darken-20: rgba(0, 0, 0, 0.2);
@darken-15: rgba(0, 0, 0, 0.15);
@darken-10: rgba(0, 0, 0, 0.15);
