<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/comforlife?useUnicode=true&amp;characterEncoding=UTF-8</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <mapping class="com.NewsEntity"/>
        <mapping class="com.RentattentionEntity"/>
        <mapping class="com.RenthomeEntity"/>
        <mapping class="com.RentpicEntity"/>
        <mapping class="com.SaleattentionEntity"/>
        <mapping class="com.SalehomeEntity"/>
        <mapping class="com.SalepicEntity"/>
        <mapping class="com.UserEntity"/>
        <mapping resource="com/NewsEntity.hbm.xml"/>
        <mapping resource="com/RentattentionEntity.hbm.xml"/>
        <mapping resource="com/RenthomeEntity.hbm.xml"/>
        <mapping resource="com/RentpicEntity.hbm.xml"/>
        <mapping resource="com/SaleattentionEntity.hbm.xml"/>
        <mapping resource="com/SalehomeEntity.hbm.xml"/>
        <mapping resource="com/SalepicEntity.hbm.xml"/>
        <mapping resource="com/UserEntity.hbm.xml"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>