<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/addhouse.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
    <style type="text/css">
        #l-map{
            height: 300px;
            width: 80%;
            margin-left: 130px;
            margin-top: 45px;

        }
        #l-maps{
            height: 300px;
            width: 80%;
            margin-left: 130px;
            margin-top: 45px;

        }
    </style>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="">ComforLife</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="">找租房</a></li>
                        <li><a href="">買新房</a></li>
                        <li><a href="">買二手房</a></li>
                        <li><a href="">新聞</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="">登錄</a></li>
                        <li><a href="">註冊</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </div>
    <div class="zhanwei"></div>
    <div class="btn-group col-md-offset-5 col-md-2" role="group" aria-label="...">
        <button type="button" class="btn btn-default" id="zu">租房</button>
        <button type="button" class="btn btn-default" id="shou">售房</button>
    </div>

    <div class="house-detail-container" id="zf">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="fylx" class="col-sm-2 control-label ne">房源類型</label>
                <div class="col-sm-10">
                    <select class="form-control" id="fylx">
                        <option>住宅</option>
                        <option>別墅</option>
                        <option>寫字樓</option>
                        <option>商鋪</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="czfs" class="col-sm-2 control-label ne">出租方式</label>
                <div class="col-sm-10">
                    <select class="form-control" id="czfs">
                        <option>整租</option>
                        <option>合租</option>
                        <option>短租</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="dz" class="col-sm-2 control-label ne">地址</label>
                <div class="col-sm-3">
                    <select class="form-control" id="dz">
                        <option>武侯</option>
                        <option>青陽</option>
                        <option>金牛</option>
                        <option>成華</option>
                        <option>高新區</option>
                        <option>雙流</option>
                        <option>郫縣</option>
                        <option>龍泉</option>
                        <option>溫江</option>
                        <option>新都</option>
                        <option>成都周邊</option>
                        <option>高新西區</option>
                        <option>錦江</option>
                        <option>都江堰</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" id="sq">
                        <option>武侯</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="xqdz" placeholder="小區名稱">
                </div>
            </div>
            <div class="form-group">
                <label for="xqmc" class="col-sm-2 control-label ne">小區地址</label>
                <div class="col-sm-10 r-result">
                    <input type="text" class="form-control" id="xqmc" placeholder="小區地址">
                    <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                </div>
                <div id="l-map"></div>
            </div>

            <div class="form-group">
                <label for="shi" class="col-sm-2 control-label ne">戶型</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="shi" >
                </div>
                <p class="form-control-static col-sm-1">室</p>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="ting" >
                </div>
                <p class="form-control-static col-sm-1">廳</p>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="wei" >
                </div>
                <p class="form-control-static col-sm-1">衛</p>
            </div>
            <div class="form-group">
                <label for="jzmj" class="col-sm-2 control-label ne">建築面積</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="jzmj" placeholder="建築面積">
                </div>
                <p class="form-control-static col-sm-2">平方米</p>
            </div>
            <div class="form-group">
                <label for="zxcd" class="col-sm-2 control-label ne">裝修程度</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="zxcd" id="inlineRadio1" value="1"> 豪華裝修
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="zxcd" id="inlineRadio2" value="2"> 精裝修
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="zxcd" id="inlineRadio3" value="3"> 中等裝修
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="zxcd" id="inlineRadio4" value="4"> 簡裝修
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="zxcd" id="inlineRadio5" value="5"> 毛坯
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="cx" class="col-sm-2 control-label ne">朝向</label>
                <div class="col-sm-4">
                    <select class="form-control" id="cx">
                        <option>南北</option>
                        <option>南</option>
                        <option>東南</option>
                        <option>東</option>
                        <option>西南</option>
                        <option>北</option>
                        <option>西</option>
                        <option>東西</option>
                        <option>東北</option>
                        <option>西北</option>
                        <option>東南西</option>
                        <option>南西北</option>
                        <option>西北東</option>
                        <option>北東南</option>
                        <option>東南西北</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lc" class="col-sm-2 control-label ne">樓層</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="lc" >
                </div>
                <p class="form-control-static col-sm-2">層, 共</p>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="zcs" >
                </div>
                <p class="form-control-static col-sm-2">層</p>
            </div>
            <div class="form-group">
                <label for="ldh" class="col-sm-2 control-label ne">樓棟號</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="ldh" >
                </div>
                <p class="form-control-static col-sm-1">棟</p>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="dy" >
                </div>
                <p class="form-control-static col-sm-1">單元</p>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="s" >
                </div>
                <p class="form-control-static col-sm-1">室</p>
            </div>
            <div class="form-group">
                <label for="zj" class="col-sm-2 control-label ne">租金</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="zj" >
                </div>
                <p class="form-control-static col-sm-2">元/月</p>
                <div class="col-sm-3">
                    <select class="form-control" id="zjfs">
                        <option>面議</option>
                        <option>年付</option>
                        <option>半年付</option>
                        <option>押二付一</option>
                        <option>押一付一</option>
                        <option>押一付二</option>
                        <option>押一付三</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="ptss" class="col-sm-2 control-label ne">配套設施</label>
                <div class="col-sm-10">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> 牀
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="option2"> 寬帶
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox3" value="option3"> 電視
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox4" value="option4"> 冰箱
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox5" value="option5"> 洗衣機
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox6" value="option6"> 空調
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox7" value="option7"> 熱水器
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox8" value="option8"> 暖氣
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="fybt" class="col-sm-2 control-label ne">房源標題</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="fybt" placeholder="房源標題">
                </div>
            </div>
            <div class="form-group">
                <label for="fyms" class="col-sm-2 control-label ne">房源描述</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" id="fyms"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="rzsj" class="col-sm-2 control-label ne">入住時間</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="rzsj">
                </div>
            </div>
            <input type="hidden" id="lal">
            <div class="col-md-offset-5 col-md-2">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>

    </div>
    <div class="house-detail-container" id="sf">
        <form class="form-horizontal dropdown">
            <div class="form-group">
                <label for="fylx" class="col-sm-2 control-label ne">房源類型</label>
                <div class="col-sm-10">
                    <select class="form-control" id="fylxs">
                        <option>住宅</option>
                        <option>別墅</option>
                        <option>寫字樓</option>
                        <option>商鋪</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="dz" class="col-sm-2 control-label ne">地址</label>
                <div class="col-sm-3">
                    <select class="form-control" id="dzs">
                        <option>武侯</option>
                        <option>青陽</option>
                        <option>金牛</option>
                        <option>成華</option>
                        <option>高新區</option>
                        <option>雙流</option>
                        <option>郫縣</option>
                        <option>龍泉</option>
                        <option>溫江</option>
                        <option>新都</option>
                        <option>成都周邊</option>
                        <option>高新西區</option>
                        <option>錦江</option>
                        <option>都江堰</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" id="sqs">
                        <option>武侯</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="xqdzs" placeholder="小區名稱">
                </div>
            </div>
            <div class="form-group">
                <label for="xqmcs" class="col-sm-2 control-label ne">小區地址</label>
                <div class="col-sm-10 r-result">
                    <input type="text" class="form-control" id="xqmcs" placeholder="小區地址">
                    <div id="searchResultPanels" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                </div>
                <div id="l-maps"></div>
            </div>
            <div class="form-group">
                <label for="shi" class="col-sm-2 control-label ne">戶型</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="shis" >
                </div>
                <p class="form-control-static col-sm-1">室</p>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="tings" >
                </div>
                <p class="form-control-static col-sm-1">廳</p>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="weis" >
                </div>
                <p class="form-control-static col-sm-1">衛</p>
            </div>
            <div class="form-group">
                <label for="jzmj" class="col-sm-2 control-label ne">建築面積</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="jzmjs" placeholder="建築面積">
                </div>
                <p class="form-control-static col-sm-2">平方米</p>
            </div>
            <div class="form-group">
                <label for="zxcd" class="col-sm-2 control-label ne">裝修程度</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="zxcd" id="inlineRadio1s" value="1"> 豪華裝修
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="zxcd" id="inlineRadio2s" value="2"> 精裝修
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="zxcd" id="inlineRadio3s" value="3"> 中等裝修
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="zxcd" id="inlineRadio4s" value="4"> 簡裝修
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="zxcd" id="inlineRadio5s" value="5"> 毛坯
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="cx" class="col-sm-2 control-label ne">朝向</label>
                <div class="col-sm-4">
                    <select class="form-control" id="cxs">
                        <option>南北</option>
                        <option>南</option>
                        <option>東南</option>
                        <option>東</option>
                        <option>西南</option>
                        <option>北</option>
                        <option>西</option>
                        <option>東西</option>
                        <option>東北</option>
                        <option>西北</option>
                        <option>東南西</option>
                        <option>南西北</option>
                        <option>西北東</option>
                        <option>北東南</option>
                        <option>東南西北</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lc" class="col-sm-2 control-label ne">樓層</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="lcs" >
                </div>
                <p class="form-control-static col-sm-2">層, 共</p>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="zcss" >
                </div>
                <p class="form-control-static col-sm-2">層</p>
            </div>
            <div class="form-group">
                <label for="ldh" class="col-sm-2 control-label ne">樓棟號</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="ldhs" >
                </div>
                <p class="form-control-static col-sm-1">棟</p>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="dys" >
                </div>
                <p class="form-control-static col-sm-1">單元</p>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="ss" >
                </div>
                <p class="form-control-static col-sm-1">室</p>
            </div>
            <div class="form-group">
                <label for="zj" class="col-sm-2 control-label ne">租金</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="zjs" >
                </div>
                <p class="form-control-static col-sm-2">元/平方米</p>
            </div>
            <div class="form-group">
                <label for="ptss" class="col-sm-2 control-label ne">配套設施</label>
                <div class="col-sm-10">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1s" value="option1"> 牀
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2s" value="option2"> 寬帶
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox3s" value="option3"> 電視
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox4s" value="option4"> 冰箱
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox5s" value="option5"> 洗衣機
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox6s" value="option6"> 空調
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox7s" value="option7"> 熱水器
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox8s" value="option8"> 暖氣
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="fybt" class="col-sm-2 control-label ne">房源標題</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="fybts" placeholder="房源標題">
                </div>
            </div>
            <div class="form-group">
                <label for="fyms" class="col-sm-2 control-label ne">房源描述</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" id="fymss"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="rzsj" class="col-sm-2 control-label ne">入住時間</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="rzsjs">
                </div>
            </div>
            <input type="hidden" id="lals">
            <input type="file" id="file">
            <div style="width: 20px;height: 20px; background-color: red" id="aaa"></div>
            <div class="col-md-offset-5 col-md-2">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>

    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 widget">
                    <div class="widget-body">
                        <p>
                            <img alt="知识共享许可协议" style="border-width:0" src="https://o11vcttoe.qnssl.com/images_80x15.png">
                            本网站采用
                            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0 国际许可协议</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-5 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright © 2016 ComforLive
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=kt3NPAS5siry17BPcAgMGBmt"></script>
    <script src="assets/js/jquery-2.1.4.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/masonry.pkgd.min.js"></script>
    <script src="assets/js/json2.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript">
        // 百度地图API功能
        function G(id) {
            return document.getElementById(id);
        }

        var map = new BMap.Map("l-map");
        map.centerAndZoom("成都",12);                   // 初始化地图,设置城市和地图级别。

        var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
                {"input" : "xqmc"
                    ,"location" : map
                });

        ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
            var str = "";
            var _value = e.fromitem.value;
            var value = "";
            if (e.fromitem.index > -1) {
                value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            }
            str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

            value = "";
            if (e.toitem.index > -1) {
                _value = e.toitem.value;
                value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            }
            str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
            G("searchResultPanel").innerHTML = str;
        });

        var myValue;
        ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
            var _value = e.item.value;
            myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

            setPlace();
        });

        function setPlace(){
            map.clearOverlays();    //清除地图上所有覆盖物
            function myFun(){
                var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
                map.centerAndZoom(pp, 18);
                $('#lal').val(''+pp.lng+','+pp.lat);
//                console.log($('#lal').val());
                map.addOverlay(new BMap.Marker(pp));    //添加标注
            }
            var local = new BMap.LocalSearch(map, { //智能搜索
                onSearchComplete: myFun
            });
            local.search(myValue);

        }

        var maps = new BMap.Map("l-maps");
        maps.centerAndZoom("成都",12);                   // 初始化地图,设置城市和地图级别。

        var acs = new BMap.Autocomplete(    //建立一个自动完成的对象
                {"input" : "xqmcs"
                    ,"location" : maps
                });

        acs.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
            var str = "";
            var _value = e.fromitem.value;
            var value = "";
            if (e.fromitem.index > -1) {
                value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            }
            str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

            value = "";
            if (e.toitem.index > -1) {
                _value = e.toitem.value;
                value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            }
            str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
            G("searchResultPanels").innerHTML = str;
        });

        var myValues;
        acs.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
            var _value = e.item.value;
            myValues = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

            setPlaces();
        });

        function setPlaces(){
            maps.clearOverlays();    //清除地图上所有覆盖物
            function myFun(){
                var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
                maps.centerAndZoom(pp, 18);
                $('#lals').val(''+pp.lng+','+pp.lat);
                maps.addOverlay(new BMap.Marker(pp));    //添加标注
            }
            var local = new BMap.LocalSearch(maps, { //智能搜索
                onSearchComplete: myFun
            });
            local.search(myValues);
        }
    </script>

    <script>
        $(function() {
            $('#rzsj').datepicker();
            $('#rzsjs').datepicker();
            $('#zu').addClass('active');
            $('#shou').removeClass('active');
            $('#zf').show();
            $('#sf').hide();
            $('#zu').on('click', function () {
                $('#zu').addClass('active');
                $('#shou').removeClass('active');
                $('#zf').show();
                $('#sf').hide();
            });
            $('#shou').on('click', function () {
                $('#shou').addClass('active');
                $('#zu').removeClass('active');
                $('#sf').show();
                $('#zf').hide();
            });
            var gf = function(){
                var files = $('input[id="file"]').prop('files');//获取到文件列表

                if(files.length == 0){
                    alert('请选择文件');
                    return;
                }else{
                    var reader = new FileReader();//新建一个FileReader
                    reader.readAsText(files[0], "UTF-8");//读取文件
                    reader.onload = function(evt){ //读取完文件之后会回来这里
                        var fileString = evt.target.result;
                        console.log(fileString);
                    }
                }
            }
            $('#aaa').on('click',function(){
                console.log(gf());
            })
        });
    </script>

</body>
</html>