<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/search.css">
</head>
<body>
    <div class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="">ComforLife</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="">找租房</a></li>
                    <li><a href="">買新房</a></li>
                    <li><a href="">買二手房</a></li>
                    <li><a href="">新聞</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">登錄</a></li>
                    <li><a href="">註冊</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</div>
    <div class="zhanwei"></div>
    <div class="search-container">
        <div class="col-lg-6 search-box">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="tag-box">
            <div class="tags">
                <div class="tags-name">租金</div>
                <div class="tag">不限</div>
                <div class="tag">0-500</div>
                <div class="tag">500-1000</div>
                <div class="tag">1000-2000</div>
                <div class="tag">2000-3000</div>
                <div class="tag">3000-5000</div>
                <div class="tag">5000-8000</div>
            </div>
            <div class="tags">
                <div class="tags-name">戶型</div>
                <div class="tag">不限</div>
                <div class="tag">一居</div>
                <div class="tag">二居</div>
                <div class="tag">三居</div>
                <div class="tag">四居</div>
            </div>
            <div class="tags">
                <div class="tags-name">方式</div>
                <div class="tag">不限</div>
                <div class="tag">整租</div>
                <div class="tag">合租</div>
                <div class="tag">日租</div>
                <div class="tag">周租</div>
            </div>
            <div class="tags">
                <div class="tags-name">特色</div>
                <div class="tag">不限</div>
                <div class="tag">月付</div>
                <div class="tag">主臥</div>
                <div class="tag">特價</div>
                <div class="tag">急租</div>
                <div class="tag">躍層</div>
                <div class="tag">辦公</div>
                <div class="tag">空房</div>
                <div class="tag">標間</div>
                <div class="tag">地鐵房</div>
                <div class="tag">拎包入住</div>
            </div>
        </div>
        <div class="selected-tags">
            <div class="selected-tags-title">當前找房條件:</div>
            <div class="selected-tag">
                <div class="selected-tag-type">特色</div>
                <div class="selected-tag-value">一居</div>
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            </div>
        </div>
        <div class="house-container">
            <div class="a-house">
                <img src="assets/images/cly.jpg" alt="">
                <div class="house-details">
                    <div class="house-name">
                        崔樂陽
                    </div>
                    <div class="house-types">
                        整租
                        <span>|</span>
                        一室一廳
                        <span>|</span>
                        50平方米
                        <span>|</span>
                        1/6層
                        <span>|</span>
                        朝南北
                    </div>
                    <div class="house-position">
                        高新區-大源-大源小區
                    </div>
                </div>
                <div class="house-price">
                    <span>1500</span>元/月
                </div>
            </div>
            <div class="a-house">
                <img src="assets/images/cly.jpg" alt="">
                <div class="house-details">
                    <div class="house-name">
                        崔樂陽
                    </div>
                    <div class="house-types">
                        整租
                        <span>|</span>
                        一室一廳
                        <span>|</span>
                        50平方米
                        <span>|</span>
                        1/6層
                        <span>|</span>
                        朝南北
                    </div>
                    <div class="house-position">
                        高新區-大源-大源小區
                    </div>
                </div>
                <div class="house-price">
                    <span>1500</span>元/月
                </div>
            </div>
            <div class="a-house">
                <img src="assets/images/cly.jpg" alt="">
                <div class="house-details">
                    <div class="house-name">
                        崔樂陽
                    </div>
                    <div class="house-types">
                        整租
                        <span>|</span>
                        一室一廳
                        <span>|</span>
                        50平方米
                        <span>|</span>
                        1/6層
                        <span>|</span>
                        朝南北
                    </div>
                    <div class="house-position">
                        高新區-大源-大源小區
                    </div>
                </div>
                <div class="house-price">
                    <span>1500</span>元/月
                </div>
            </div>
            <div class="a-house">
                <img src="assets/images/cly.jpg" alt="">
                <div class="house-details">
                    <div class="house-name">
                        崔樂陽
                    </div>
                    <div class="house-types">
                        整租
                        <span>|</span>
                        一室一廳
                        <span>|</span>
                        50平方米
                        <span>|</span>
                        1/6層
                        <span>|</span>
                        朝南北
                    </div>
                    <div class="house-position">
                        高新區-大源-大源小區
                    </div>
                </div>
                <div class="house-price">
                    <span>1500</span>元/月
                </div>
            </div>
            <div class="a-house">
                <img src="assets/images/cly.jpg" alt="">
                <div class="house-details">
                    <div class="house-name">
                        崔樂陽
                    </div>
                    <div class="house-types">
                        整租
                        <span>|</span>
                        一室一廳
                        <span>|</span>
                        50平方米
                        <span>|</span>
                        1/6層
                        <span>|</span>
                        朝南北
                    </div>
                    <div class="house-position">
                        高新區-大源-大源小區
                    </div>
                </div>
                <div class="house-price">
                    <span>1500</span>元/月
                </div>
            </div>
            <div class="a-house">
                <img src="assets/images/cly.jpg" alt="">
                <div class="house-details">
                    <div class="house-name">
                        崔樂陽
                    </div>
                    <div class="house-types">
                        整租
                        <span>|</span>
                        一室一廳
                        <span>|</span>
                        50平方米
                        <span>|</span>
                        1/6層
                        <span>|</span>
                        朝南北
                    </div>
                    <div class="house-position">
                        高新區-大源-大源小區
                    </div>
                </div>
                <div class="house-price">
                    <span>1500</span>元/月
                </div>
            </div>
            <div class="a-house">
                <img src="assets/images/cly.jpg" alt="">
                <div class="house-details">
                    <div class="house-name">
                        崔樂陽
                    </div>
                    <div class="house-types">
                        整租
                        <span>|</span>
                        一室一廳
                        <span>|</span>
                        50平方米
                        <span>|</span>
                        1/6層
                        <span>|</span>
                        朝南北
                    </div>
                    <div class="house-position">
                        高新區-大源-大源小區
                    </div>
                </div>
                <div class="house-price">
                    <span>1500</span>元/月
                </div>
            </div>
            <div class="a-house">
                <img src="assets/images/cly.jpg" alt="">
                <div class="house-details">
                    <div class="house-name">
                        崔樂陽
                    </div>
                    <div class="house-types">
                        整租
                        <span>|</span>
                        一室一廳
                        <span>|</span>
                        50平方米
                        <span>|</span>
                        1/6層
                        <span>|</span>
                        朝南北
                    </div>
                    <div class="house-position">
                        高新區-大源-大源小區
                    </div>
                </div>
                <div class="house-price">
                    <span>1500</span>元/月
                </div>
            </div>
            <div class="a-house">
                <img src="assets/images/cly.jpg" alt="">
                <div class="house-details">
                    <div class="house-name">
                        崔樂陽
                    </div>
                    <div class="house-types">
                        整租
                        <span>|</span>
                        一室一廳
                        <span>|</span>
                        50平方米
                        <span>|</span>
                        1/6層
                        <span>|</span>
                        朝南北
                    </div>
                    <div class="house-position">
                        高新區-大源-大源小區
                    </div>
                </div>
                <div class="house-price">
                    <span>1500</span>元/月
                </div>
            </div>
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 widget">
                    <div class="widget-body">
                        <p>
                            <img alt="知识共享许可协议" style="border-width:0" src="https://o11vcttoe.qnssl.com/images_80x15.png">
                            本网站采用
                            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0 国际许可协议</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-5 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright © 2016 ComforLive
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery-2.1.4.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/masonry.pkgd.min.js"></script>
    <script src="assets/js/json2.js"></script>

    <script>
        $(function(){
            var args = {};
            $('.tag').on('click', function () {
                $(this).siblings('.tag').removeClass('active');
                $(this).addClass('active');
                $('.tags').each(function(index, e){
                    var i = $(e).children('.tags-name').html();
                    var v;
                    $(e).children('.tag').each(function(index, e){
                        if ($(e).hasClass('active')){
                            v = $(e).html();
                        }
                    });
                    args[i] = v;
                });
                console.log(JSON.stringify(args));

            }) ;
        });
    </script>
</body>
</html>