<!DOCTYPE html>
<html><head>

    <meta charset="utf-8">
    <title>blah</title>
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/bs-fix.css">
    <link rel="stylesheet" href="assets/css/syt.css">
    <link rel="stylesheet" href="assets/css/shop.css">
    <link rel="stylesheet" href="assets/css/show.css">
</head>
<body>
<div class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="">ComforLife</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="">找租房</a></li>
                    <li><a href="">買新房</a></li>
                    <li><a href="">買二手房</a></li>
                    <li><a href="">新聞</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">登錄</a></li>
                    <li><a href="">註冊</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</div>
<div class="zhanwei"></div>

<div class="shop-container">
    <ol class="breadcrumb">
        <li><a href="">宜居</a></li>
        <li><a href="">租房</a></li>
        <li class="active"><a href="">blahblah</a></li>
    </ol>
    <div class="shop-first-row">
        <div class="simg-container">
            <div class="simg-hero-cont">
                <img class="simg-hero" src="assets/images/6.jpg">
                <div class="simg-hero-overlay simg-hover-show"></div>
            </div>
            <div class="simg-preview-zoom simg-hover-show" style="background: url(&quot;&quot;) no-repeat;"></div>
            <ul class="simg-list">
                <li class="hover"><img src="assets/images/6.jpg"></li>
            </ul>
        </div>
        <div class="shop-right-container">
            <h4>blahblah</h4>
            <hr>
            <div class="shop-description">
                <p>
                    價格:blahblah
                </p>
                <hr>
                <p>
                    小區:blahblah
                </p>
                <hr>
                <p>
                    交通:blahblah
                </p>
                <hr>
                <p>
                    房屋概況:blahblah
                </p>
                <hr>
                <p>
                    配套設施:blahblah
                </p>
                <hr>
                <p>
                    聯繫人:blahblah
                </p>
            </div>
        </div>
    </div>

    <hr>
</div>
<div class="information">
        <div id="info">
            基本信息
        </div>
        <div class="info-table">
            <div class="info-cell">
                <p class="info-type">物業類型</p>
                <p class="info-value">住宅</p>
            </div>
            <div class="info-cell">
                <p class="info-type">物業類型</p>
                <p class="info-value">住宅</p>
            </div>
            <div class="info-cell">
                <p class="info-type">物業類型</p>
                <p class="info-value">住宅</p>
            </div>
            <div class="info-cell">
                <p class="info-type">物業類型</p>
                <p class="info-value">住宅</p>
            </div>
            <div class="info-cell">
                <p class="info-type">物業類型</p>
                <p class="info-value">住宅</p>
            </div>
            <div class="info-cell">
                <p class="info-type">物業類型</p>
                <p class="info-value">住宅</p>
            </div>
            <div class="info-cell">
                <p class="info-type">物業類型</p>
                <p class="info-value">住宅</p>
            </div>
            <div class="info-cell">
                <p class="info-type">物業類型</p>
                <p class="info-value">住宅</p>
            </div>
            <div class="info-cell">
                <p class="info-type">物業類型</p>
                <p class="info-value">住宅</p>
            </div>
            <div class="info-cell">
                <p class="info-type">物業類型</p>
                <p class="info-value">住宅</p>
            </div>
        </div>
        <div class="info-detail">
            <div class="info-poeple">
                <p class="name">崔樂陽</p>
                <p class="phone-number">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    聯繫電話:12345678900
                </p>
            </div>
            <div class="info-description">
                <p>blah</p>
                <p>blah</p>
                <p>blah</p>
                <p>blah</p>
                <p>blah</p>
                <p>blah</p>
                <p>blah</p>
                <p>blah</p>
            </div>
        </div>
        <div id="pic"><p>圖片</p></div>
        <div class="pics">
            <div class="pic-item">
                <img src="assets/images/1.jpg" alt="">
            </div>
            <div class="pic-item">
                <img src="assets/images/2.jpg" alt="">
            </div>
            <div class="pic-item">
                <img src="assets/images/3.jpg" alt="">
            </div>
            <div class="pic-item">
                <img src="assets/images/4.jpg" alt="">
            </div>
            <div class="pic-item">
                <img src="assets/images/5.jpg" alt="">
            </div>
            <div class="pic-item">
                <img src="assets/images/6.jpg" alt="">
            </div>
        </div>
        <div id="map-title">地圖</div>
        <div id="map">
        </div>
</div>

<div id="footer">
</div>

<script src="assets/js/jquery-2.1.4.js"></script>
<script src="assets/js/imgscale.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/show.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=kt3NPAS5siry17BPcAgMGBmt"></script>
<script>
    $(function () {
        $('.simg-preview-zoom').imageScaleFrom(
                $('.simg-hero-cont'),
                {
                    'autoScale': true,
                    // 'moveOverlay': $('.simg-hero-overlay'),
                    'moveCallback': function (rect) {
                        $('.simg-hero-overlay').css({
                            'width': rect['width'],
                            'height': rect['height'],
                            'top': rect['top'],
                            'left': rect['left']
                        });
                    }
                });

        $('.simg-hero-cont').hover(
                function () { $('.simg-hover-show').addClass('hover'); },
                function () { $('.simg-hover-show').removeClass('hover'); });

        $('.simg-list li').hover(function () {
            $('.simg-list li').removeClass('hover');
            $(this).addClass('hover');

            $('.simg-hero').attr('src', $(this).children('img')[0].src);
            $('.simg-preview-zoom').imageScaleUpdate();
        });
    });
    $(function(){
        var map = new BMap.Map('map');
        map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);
        map.addControl(new BMap.MapTypeControl());
        map.setCurrentCity("北京");
        map.enableScrollWheelZoom(true);
    });
    $(function(){
        $('.pics').masonry({
            // options
            itemSelector: '.pic-item',
            columnWidth: $('.pics').width()/2,
        });
    });
</script>



  

</body></html>